#containerPrincipal > div{
    margin-bottom: 2em;

}

.thumbnail-item{
    border: 1px solid black;
}


.card{
    ul{
        max-height: 0;
        overflow: hidden;
    }
    border-color: rgba(128, 128, 128, 0.050);
    
}

.card:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
    ul{
        display: block;
        max-height: 50px; 
        transition: max-height 1s ease;
    }
}

.iconosCorazon{
   border: 1px solid rgba(184, 184, 184, 0.521);
   border-radius: 17px;
   padding: 5px;
   padding-top: 7px;
}


.iconosCorazon:hover{
    background-color: rgba(224, 122, 122, 0.397);
}


@media (max-width: 568px){
    .iconosCorazon{
       width: 30px;
    }

}
.row{
    text-align: center;
}

.modal-footer *{
    margin: auto;
}

#megustaText{
    display: none;
}

